@font-face {
    font-family: 'Yekan';
    src: url('assets/fonts/BYekan.woff2') format('woff2'),
    url('assets/fonts/BYekan.woff') format('woff'),
    url('assets/fonts/Yekan.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    direction: rtl;

}
body{
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    font-family: 'Yekan';
}
a{
    text-decoration: none;
    color:#000;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.line{
    border: 1px solid #ccc;
    height: 20px;
    margin-left: 20px;
}
.line-horizintal{
    display: flex;
    border: 1px solid #ccc;
    width: calc(100% - 2px);

    /*height: 10px;*/
}
/* start header */
header{
    margin-top: 20px !important;
    padding: 0px 139px 0px 139px;
    margin: 0 auto;
}
.header-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top-right{
    display: flex;
}
.header-top-right form {
    position: relative;
}
.header-top-right form i{
    position: absolute;
    top: 14px;
    right: 15px;
    color: #a1a3a8;
    padding-right: 10px;
}

.header-top-right input{
    width: 600px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #f0f0f1;
    outline: none;
    padding-right: 50px;
    margin-right: 15px;
    box-sizing: border-box;

}
.header-top .header-top-right .logo{
    width: 150px;
}
.header-top .header-top-left{
    display: flex;
    align-items: center;
}
.header-top .header-top-left i{
    margin: 0px 10px;
}
.header-top .header-top-left .btn-login-reg{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-top .header-top-left span.line{
    border: 1px solid #e0e0e2;
    height: 25px;
    width: 0px;
    padding: 0;
    color: #e0e0e2;
    margin: 0px 10px;
}
/*header bottom*/
.header-bottom{
    margin:20px 0px;
    display: flex;
    justify-content: space-between;
}
.header-bottom .header-bottom-right ul{
    display: flex;
}
.header-bottom .header-bottom-right ul li{
    margin-left: 15px;
}
.header-bottom .header-bottom-right ul li a{}
.header-bottom .header-bottom-left i{
    margin-left: 5px;
}
/*main*/
.wrap-container{
    padding: 0px 283px;
    margin-top: 10px;

}
.slide-adver{
    width: 100%;
    height: 60px;
}
.wrap-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid #c650a1;
}
.wrap-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.slide-adver ul{
    display: flex;
}
.slide-adver ul h6{
    padding: 5px;
}
.swiper-button-next::after, .swiper-button-prev::after{
    font-size: 15px !important;
    font-weight: bolder !important;
    color: #8b8e94;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 7px 25px 0 rgba(0,0,0,0.08);
    width: 50px !important;
    height: 50px !important;
    font-size: 5px;
}
/*slider main*/
.slidermain{
    height: 400px;
    width: 100%;
    background-color: yellow;
    object-fit: cover;
}
.slidermain img{
    width: 100%;
}

/*services*/
.wrap-services ul{
    display: flex;
    justify-content: space-between;
}
.wrap_img_service{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f1;
    position: relative;
}
.wrap_img_service img{
    width: 100%;
}
.wrap_img_service i{
    position: absolute;
    top:35%;
    right: 35%;
}

/*amazing*/
.wrap-amazing{
    width: 100%;
    height: 294px;
    background-color: #dd314e;
    border-radius: 10px;
    padding-top: 20px;
}
.amazing-right{

}
.wrap-amazing .slider-amazing ul{
    display: flex;
    justify-content: center;

}
.wrap-amazing .slider-amazing ul span{
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px 3px;
}
.wrap-amazing .slider-amazing ul li{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;

}
.wrap-amazing .slider-amazing .view-all{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-left: 5px;
}
.wrap-amazing .slider-amazing .view-all i{
    margin-right: 6px;
    font-size: 10px;
}
/*.wrap-product-amazing:first-child{*/
/*    border-top-right-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*}*/
.wrap-product-amazing{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 158px;
    padding: 10px;
}
.wrap-product-amazing img{
    width: 130px;
}
.wrap-product-amazing h6{
    margin-top: 10px;
    font-size: 12px;
    color:#696d73;
    margin-bottom: 6px;
    line-height: 26px;
}
.wrap-product-amazing .price{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.wrap-product-amazing .discount{
    color: #8b8e94;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-left: 71px;
    font-size: 13px;
    font-weight: bold;
}
.percent{
    background-color: #d32f2f;
    color: #fff;
    font-size: 15px;
    padding: 0px 7px;
    border-radius: 5px;
}
.main-price{
    font-size: 14px;
    font-weight: bold;
}
.swiper-slide{
    text-align: center;
}
.wrap-banner-offer{
    width: 100%;
    background-color: #eceeee;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.wrap-banner-offer .offer-right{
    display: flex;
    align-items: center;
    height: 108px;


}
.wrap-banner-offer .offer-right img{
    margin-right: 15px;
    margin-left: 15px;
}
.btn-offer{
    background-color: #029a49;
    border-radius: 10px;
    border: none;
    padding: 5px 15px 5px 15px;
    color: #fff;
    height: 15px;
    display: flex;
    align-items: center;

}
.offer-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-left ul{
    display: flex;
}
.offer-left ul li{
    margin-right: 15px;
}
.offer-left ul .item-offer a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    padding: 5px;
}
.offer-left ul li a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.btn-more-offer{
    display: flex;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 20px;
    color: green;
    justify-content: space-between;
    align-items: center;
}
.btn-more-offer i{
    margin-right: 5px;
}
/*sale-special*/
.sale-special ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 8px;
}
.sale-special ul li a{
    width: 50px;
    height: 50px;


}
.sale-special ul li a img{
    width: 100%;
    border-radius: 10px;
}
/*buyByCat*/
.buyByCat h3{
    text-align: center;
}
.buyByCat ul{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    padding: 30px;


}
.buyByCat ul li{
    display: flex;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
.buyByCat ul li a img{
    width: 100%;
    height: 100%;
}